.header-section p {
	display: inline-block;
	margin: 30px;
	visibility: hidden;
}

.claimed-box-x {
}

.claimed-box-o {
}

#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
}

.reset-btn{

}

p {
	text-align: center;
}

